<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MİZAÇLAR</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-4.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-container">
        <a href="{% url 'index' %}" class="logo">MİZAÇ</a>
        <div class="nav-links">
            <a href="{% url 'about' %}" class="nav-item">HAKKINDA</a>
            <a href="{% url 'temperaments' %}" class="nav-item">MİZAÇLAR</a>
            <a href="{% url 'test_list' %}" class="nav-item">TESTE BAŞLA</a>
        </div>
        {% if user.is_authenticated %}
            <div class="profile-container">
                <button class="profile-button">PROFİL</button>
                <div class="dropdown-content">
                    <a href="{% url 'profiles' %}">Mizacım</a>
                    <a href="{% url 'profiles' %}">Önerilerim</a>
                    <a href="{% url 'profiles' %}">Profil Ayarlarım</a>
                    <a href="{% url 'logout' %}">Çıkış Yap</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="nav-item profile-container">GİRİŞ YAP</a>
        {% endif %}
    </div>

    <section class="mizac-section">
        <div class="mizac-info">
            <h2 class="mizac-title">Ateş Mizacı Özellikleri</h2>
            <p>Mizaç, bireyin doğuştan getirdiği ve hayatı boyunca büyük ölçüde değişmeyen temel özellikler bütünüdür. İnsanların olaylara verdiği tepkiler, eğilimleri ve davranış kalıpları mizaçları doğrultusunda şekillenir.</p>
        </div>
        <div class="mizac-image-container">
        <img src="{% static 'images/fire.jpg' %}" alt="Ateş Mizacı Karakteri" class="mizac-image">
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const profileButton = document.querySelector('.profile-button');
            const dropdownContent = document.querySelector('.dropdown-content');

            profileButton.addEventListener('click', function() {
                dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
            });

            // Close the dropdown if clicked outside
            document.addEventListener('click', function(event) {
                if (!event.target.matches('.profile-button')) {
                    dropdownContent.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>