<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MİZAÇLAR</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="{% url 'index' %}" class="logo">LOGO</a>
            <a href="{% url 'about' %}" class="nav-button">HAKKINDA</a>
        </div>
        <nav>
            <a href="{% url 'temperaments' %}" class="nav-button">MİZAÇLAR</a>
            <a href="{% url 'start_test' %}" class="nav-button">TESTE BAŞLA</a>
            {% if user.is_authenticated %}
                <div class="profile-dropdown">
                    <button class="nav-button profile-button">PROFİL</button>
                    <div class="dropdown-content">
                        <a href="{% url 'profiles' %}">Mizacım</a>
                        <a href="{% url 'profiles' %}">Önerilerim</a>
                        <a href="{% url 'profiles' %}">Profil Ayarlarım</a>
                        <a href="{% url 'logout' %}">Çıkış Yap</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="nav-button">GİRİŞ YAP</a>
            {% endif %}
        </nav>
    </header>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const profileButton = document.querySelector('.profile-button');
            const dropdownContent = document.querySelector('.dropdown-content');
    
            profileButton.addEventListener('click', function() {
                dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
            });
    
            // Close the dropdown if clicked outside
            document.addEventListener('click', function(event) {
                if (!event.target.matches('.profile-button')) {
                    dropdownContent.style.display = 'none';
                }
            });
        });
    </script>