{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="result-container">
    <h1 class="result-title">Mizacınız:</h1>

    {% if result %} 
        <div class="dominant-element-card {{ dominant_element.name|lower }}">
            {% if dominant_element.name == "Ateş" %}
                <img src="{% static 'images/fire.jpg' %}" alt="Ateş" class="element-image">
            {% elif dominant_element.name == "Hava" %}
                <img src="{% static 'images/air.jpg' %}" alt="Hava" class="element-image">
            {% elif dominant_element.name == "Su" %}
                <img src="{% static 'images/water.jpg' %}" alt="Su" class="element-image">
            {% elif dominant_element.name == "Toprak" %}
                <img src="{% static 'images/earth.jpg' %}" alt="Toprak" class="element-image">
            {% else %}
                <p class="no-image-text">Görsel bulunamadı.</p>
            {% endif %}
            <h2 class="element-title"> {{ dominant_element.name }}</h2>
        </div>
    
        <div class="element-details">
            <h3>{{ dominant_element.name }} Elementinin Özellikleri</h3>
            <p class="element-description">{{ dominant_element.characteristics|linebreaks }}</p>
        </div>
    
        <div class="button-container">
            <a href="{% url 'my_suggestions' %}" class="btn btn-primary">Daha Fazla Bilgi</a>
        </div>
    </div>
    {% else %}
        <p class="no-result-text">Henüz bir mizaç testi çözmediniz.</p>
    {% endif %}
</div>
{% endblock %}
